html, body {
  height: 100%;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  background-color: rgb(32, 41, 47);
  background-image: linear-gradient(rgb(210, 33, 33), rgb(32, 41, 47));
}


.header-top {
  background-color: rgb(32, 41, 47);
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-bottom {
  display: flex;
}

.empty {
  background-color: rgb(52, 67, 79);
  flex: 1;
}

.content1 {
  flex: 4;
  background-color: rgb(52, 67, 79);
  text-align: center;
  margin-top: 50px;
}

.text1 {
  color: rgb(232, 234, 127);
  font-weight: bold;
  font-size: 40px;
  margin: 40px 0px 20px 0px;
}

.text2 {
  color: rgb(207, 208, 176);
  font-size: 20px;
  margin: 10px;
}

.content2 {
  margin: 0px;
  padding: 0px;
}

.buttons-outer {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  background-color: #e3cae9;
  height: fit-content;
  width: fit-content;
  margin: 0px;
  padding: 50px;
  border: 1px solid red;
  border-radius: 10px;
}

button {
  background-color: #9b1313;
  font-size: 18px;
  font-weight: bold;
  color: #F9FAF8;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid gainsboro
}

button:hover {
  background-color: #c66618;
  font-size: 18px;
  font-weight: bold;
  color: #F9FAF8;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid gainsboro
}

button:active {
  background-color: #d9c147;
  font-size: 18px;
  font-weight: bold;
  color: #F9FAF8;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(220, 19, 19)
}

.computer-outer {
  display: flex;
  justify-content: center;
}

.computer {
  background-color: #e3cae9;
  height: fit-content;
  width: 520px;
  margin: 0px;
  padding: 20px 50px 50px 50px;
  border: 1px solid rgb(94, 162, 133);
  border-radius: 10px;
}

.computer-top {
  display: flex;
  gap: 40px;
  padding: 0px;
  margin: 0px;
}

.result-box {
  background-color: #ecdaf1;
  border: 1px solid rgb(94, 162, 133);
  border-radius: 10px;
  padding: 10px;
}

.computer-middle {
  padding: 0px;
  margin: 0px;
}

.computer-bottom {
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
  margin: 0px;
}

h2 {
  color: rgb(41, 70, 57);
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0px;
}

.text3,
.text4 {
  color: rgb(58, 100, 81);
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0px;
}

.text4 {
  text-align: center;
  color: #9b1313;
}

footer {
  height: 50px;
  background-color: rgb(32, 41, 47);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(199, 187, 187);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}